@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Raleway:300|Roboto+Slab:100');

.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: url('../images/background.jpg');
    padding-top: 30px;
    background-attachment: fixed;
    padding-bottom: 30px;

}

.child {
   flex-basis: 300px;
   padding: 25px 30px;
   margin: 30px 25px 30px 20px;
   justify-content: center;
   background: rgb(34, 34, 34);
   color: lightgray;
   border-radius: 10px;
   box-shadow: 15px 25px 40px rgba(0, 0, 0, .8);
   font-family: 'Didact Gothic', sans-serif;
   border: 4px solid rgb(5, 5, 5);
}

.inputBox {
    width: 300px;
    height: 350px;
    background: rgb(35, 35, 35);
    margin: 30px 25px 30px 20px;
    padding: 15px 30px 40px 30px;
    color: lightgray;
   border-radius: 10px;
   box-shadow: 15px 25px 40px rgba(0, 0, 0, .8);
   font-family: 'Didact Gothic', sans-serif;
   border: 3px solid rgb(5, 5, 5);
}

label {
    padding: 10px;
}
input {
    margin: 10px 10px;
}

textarea {
    margin: 5px 0 0 10px;
}

img {
    width: 320px;
    border-radius: 5px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

.openButton {
    padding: 5px 30px;
    background: rgb(19, 97, 56);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 100px;
}

.openButton:hover {
    padding: 5px 30px;
    background: gray;
    color: white;
    border: none;
    border-radius: 5px;
}

.openButton:active {
    color: white;
    background: rgb(68, 68, 68);
}

.closeButton {
    margin-top: 15px;
    padding: 5px 33px;
    background: rgb(97, 97, 97);
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 100px;
}

.closeButton:hover {
    background: rgb(87, 87, 87);
    border: none;
    color: white;
    border-radius: 5px;
}

.closeButton:active {
    color: white;
    background: rgb(43, 43, 43);
}

.padding {
    margin-left: 125px;
    background: rgb(88, 22, 22);
    padding: 5px 20px;
}