@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Raleway:300|Roboto+Slab:100');

/* Main Body Styles */
.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: url('../images/background.jpg');
    padding-top: 90px;
    background-attachment: fixed;
    padding-bottom: 30px;

}

.child {
   flex-basis: 300px;
   padding: 20px 20px;
   margin: 30px 15px 10px 15px;
   justify-content: center;
   background: rgb(20, 20, 20);
   color: lightgray;
   border-radius: 10px;
   box-shadow: 15px 25px 40px rgba(0, 0, 0, .8);
   font-family: 'Didact Gothic', sans-serif;
  
}

/* Add coffee styles */
.inputBox {
    width: 300px;
    height: 350px;
    background: rgb(20, 20, 20);
    margin: 70px 25px 30px 20px;
    padding: 15px 30px 40px 30px;
    color: lightgray;
    border-radius: 10px;
    box-shadow: 15px 25px 40px rgba(0, 0, 0, .8);
    font-family: 'Didact Gothic', sans-serif; 
}

label {
    padding: 10px;
}

input {
    margin: 10px 5px;
}

textarea {
    margin: 10px 0 0 5px;
}

img {
    width: 320px;
    border-radius: 5px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 0 20px;
}

.openButton {
    padding: 5px 30px;
    background: rgb(19, 97, 56);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 100px;
}

/* Button styles */
.openButton:hover {
    padding: 5px 30px;
    background: gray;
    color: white;
    border: none;
    border-radius: 5px;
}

.openButton:active {
    color: white;
    background: rgb(68, 68, 68);
}

.closeButton {
    margin-top: 15px;
    padding: 5px 33px;
    background: rgb(97, 97, 97);
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 100px;
}

.closeButton:hover {
    background: rgb(87, 87, 87);
    border: none;
    color: white;
    border-radius: 5px;
}

.closeButton:active {
    color: white;
    background: rgb(43, 43, 43);
}

.padding {
    margin-left: 125px;
    background: rgb(88, 22, 22);
    padding: 5px 20px;
}

/* Top link styles */
h5 {
    position: absolute;
    top: 125px; 
    right: 30px;
    font-size: 18px;
    color: rgb(14, 14, 14);
    font-family: 'Raleway', sans-serif;
    background: rgb(26, 26, 26);
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, .8);
    font-weight: 100;
}

h5:hover {
    background: rgba(141, 141, 141, 0.8);
    color: rgb(12, 12, 12);
    text-decoration: none;
}

h6 {
    position: absolute;
    top: 110px; 
    left: 30px;
    font-size: 18px;
    color: rgb(14, 14, 14);
    font-family: 'Raleway', sans-serif;
    background: rgb(26, 26, 26);
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, .8);
    font-weight: 100;
}

h6:hover {
    background: rgba(141, 141, 141, 0.8);
    color: rgb(12, 12, 12);
    text-decoration: none;
}