@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Raleway:300|Roboto+Slab:100');

.weather {
    height: 50px;
    width: 100%;
    background: rgb(12, 65, 38);
    border-top: 3px solid black;
}

.weather-text {
    font-size: 25px;
    margin: 0 auto;
    padding: 8px 0 0 0;
    text-align: center;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}

a:hover {
    color: rgb(148, 148, 148);
}

a {
    text-decoration: none;
    color: white;
    
}

