footer {
    height: 70px;
    background: rgb(26, 26, 26);
    position: relative;
    border-top: 5px solid black;
}

footer > p {
    color: rgb(212, 212, 212);
    text-align: right;
    margin: 0;
    padding: 30px 20px 0 0;
}

.footerLogo {
    width: 40px;
    position: absolute;
    bottom: 20px;
    left: 50%;
}