footer {
    height: 50px;
    background: rgb(26, 26, 26);
    position: relative;
}

footer > p {
    color: rgb(212, 212, 212);
    text-align: right;
    margin: 0;
    padding: 25px 20px 0 0;
}

.footerLogo {
    width: 30px;
    position: absolute;
    bottom: 10px;
    left: 30px;
}